node-red.flow
[{"id":"796978dc.d1d1a8","type":"tab","label":"SQL2","disabled":false,"info":""},{"id":"f4f77716.c54eb8","type":"function","z":"796978dc.d1d1a8","name":"Insert","func":"var today = new Date();\ndt=today\nvar date = today.getFullYear()+''+(today.getMonth()+1)+''+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar ts = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+' '+today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\ntemp = Math.floor(Math.random() * 100)+0.01;\n\n\nvar datestring = today.getFullYear() + \"-\" + (\"0\"+(today.getMonth()+1)).slice(-2) +\"-\"+(\"0\" + today.getDate()).slice(-2);\nnode.warn(datestring)         \n\nif (parseInt(dt.getHours()) < 10) {hours = \"0\" + dt.getHours();} else minutes = dt.getHours();\nif (parseInt(dt.getMinutes()) < 10) {minutes = \"0\" + dt.getMinutes();} else minutes = dt.getMinutes();\nif (parseInt(dt.getSeconds()) < 10) {seconds = \"0\" + dt.getSeconds();} else seconds = dt.getSeconds();\n\nvar time = hours + \":\" + minutes + \":\" + seconds;\nnode.warn(time)    \n\nmysql = 'INSERT INTO  \"DB2INST1\".\"SNP21\"'+\n' (\"Date\",\"Time\",\"TS\",\"Group\",\"Location\",\"Temperature\",\"Humidity\",\"Pressure\",\"Comment\",\"TIMESTAMP\") VALUES('\n  \nmysql =  mysql+\"'\"+date+\"','\"+time+\"',\"+Date.now()+\",'SNP21','LOC02',\"+temp+\",1800,2000,'Test1','\"+ts+\".0');\"\nmsg.payload =mysql;\nmsg.temp=temp\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["26d366e0.d3381a","188e4f7b.bf4ba1","ba0f3a39.6bdb18"]]},{"id":"26d366e0.d3381a","type":"dashDB in","z":"796978dc.d1d1a8","dashDB":"18e104a9.8ebe1b","service":"_ext_","query":"","params":"","name":"DB2 Insert","x":540,"y":181,"wires":[["e26fc660.b50d98"]]},{"id":"e26fc660.b50d98","type":"debug","z":"796978dc.d1d1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":716,"y":177,"wires":[]},{"id":"478a3707.266178","type":"inject","z":"796978dc.d1d1a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":181,"wires":[["f4f77716.c54eb8"]]},{"id":"188e4f7b.bf4ba1","type":"debug","z":"796978dc.d1d1a8","name":"SQL Statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":141,"wires":[]},{"id":"2b12c3e3.008c1c","type":"dashDB in","z":"796978dc.d1d1a8","dashDB":"18e104a9.8ebe1b","service":"_ext_","query":"SELECT *\n  FROM \"DB2INST1\".\"SNP21\"LIMIT 50\n","params":"","name":"DB2 Read","x":530,"y":80,"wires":[["cba27351.5fa0a"]]},{"id":"5c64c5db.bb6e3c","type":"inject","z":"796978dc.d1d1a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["3f532691.0ae2da"]]},{"id":"3f532691.0ae2da","type":"function","z":"796978dc.d1d1a8","name":"Read","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["2b12c3e3.008c1c"]]},{"id":"cba27351.5fa0a","type":"debug","z":"796978dc.d1d1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":80,"wires":[]},{"id":"6a3c9e9a.51e41","type":"ui_gauge","z":"796978dc.d1d1a8","name":"","group":"8dc5c4d9.7383b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temerature","label":"units","format":"{{value}}","min":"-20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":380,"wires":[]},{"id":"ba0f3a39.6bdb18","type":"function","z":"796978dc.d1d1a8","name":"temp","func":"msg.payload =msg.temp\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["6a3c9e9a.51e41","7ffa6b60.135524"]]},{"id":"7ffa6b60.135524","type":"debug","z":"796978dc.d1d1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":420,"wires":[]},{"id":"b877ccfb.4d872","type":"ui_chart","z":"796978dc.d1d1a8","name":"","group":"8dc5c4d9.7383b8","order":0,"width":0,"height":0,"label":"Temp History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":500,"wires":[[]]},{"id":"fb783679.f06c28","type":"function","z":"796978dc.d1d1a8","name":"temp","func":"//var data = [[{\"x\":1537348236000,\"y\":2493},{\"x\":1537348326000,\"y\":2493}]];\n//\nvar series =[\"Temperatur in °C\", \"x\"];\nvar labels = [\"Labels\"];\nvar data = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\ndata.push({\"x\": (Date.parse(msg.payload[i].TIMESTAMP)), \"y\":Number(msg.payload[i].Temperature)});\n}\n\ndata = [data];\n\nmsg.payload = [{series, data, labels}];\n\nmsg.payload1 =[{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["b877ccfb.4d872","8e80d314.2671f"]]},{"id":"64659e4f.70254","type":"dashDB in","z":"796978dc.d1d1a8","dashDB":"18e104a9.8ebe1b","service":"_ext_","query":"SELECT * FROM \"DB2INST1\".\"SNP21\" ORDER BY TIMESTAMP ASC LIMIT 1440","params":"","name":"DB2 Read","x":440,"y":620,"wires":[["11648b1d.e174e5","fb783679.f06c28"]]},{"id":"11648b1d.e174e5","type":"debug","z":"796978dc.d1d1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":620,"wires":[]},{"id":"163e22c7.67dbfd","type":"inject","z":"796978dc.d1d1a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":620,"wires":[["64659e4f.70254"]]},{"id":"8e80d314.2671f","type":"debug","z":"796978dc.d1d1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":540,"wires":[]},{"id":"6324f9f7.d163b8","type":"ui_button","z":"796978dc.d1d1a8","name":"","group":"8dc5c4d9.7383b8","order":2,"width":0,"height":0,"passthru":false,"label":"GetData","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":560,"wires":[["64659e4f.70254"]]},{"id":"1a33d0ec.c91e5f","type":"ui_button","z":"796978dc.d1d1a8","name":"","group":"8dc5c4d9.7383b8","order":2,"width":0,"height":0,"passthru":false,"label":"INSERTData","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":140,"wires":[["f4f77716.c54eb8"]]},{"id":"18e104a9.8ebe1b","type":"dashDB","z":"","hostname":"db2w-seirbtf.us-south.db2w.cloud.ibm.com","db":"BLUDB","port":"50001","name":"JCDB"},{"id":"8dc5c4d9.7383b8","type":"ui_group","z":"","name":"Default","tab":"f290232.52fc7e","disp":true,"width":"6","collapse":false},{"id":"f290232.52fc7e","type":"ui_tab","z":"","name":"SNP21","icon":"dashboard","disabled":false,"hidden":false}]
